.food-journal-container {
  width: 700px;
  height: 540px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid;
  border-radius: 15px;
  background: transparent;
  backdrop-filter: blur(5px);
  padding: 20px;
}

.journal-calendar {
  display: flex;
  padding: 10px;
}

.date-container {
  width: 240px;
  background-color: blueviolet;
  border-radius: 20px;
  transform: translateY(-15%);
}
