.goals-container {
  width: 700px;
  height: 540px;
  margin: auto;
  margin-top: 30px;
  border: 2px solid;
  border-radius: 15px;
  background: transparent;
  padding: 20px;
  backdrop-filter: blur(5px);
}

.nutrition-goals {
  position: absolute;
  margin-top: 15px;
  margin-left: 30px;
}

.meal-goals {
  position: absolute;
  margin-top: 30px;
  margin-left: 30px;
  transform: translateY(110%);
}

.fitness-goals {
  position: absolute;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  transform: translate(100%, -10%);
}

.micronutrients-goals {
  position: absolute;
  float: right;
  margin-top: 30px;
  margin-right: 30px;
  transform: translate(100%, 110%);
}

table,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

.edit-goal-button {
  border: none;
  float: right;
  margin-right: 10px;
  background: transparent;
  font-size: 20px;
  color: rgb(53, 147, 147);
}

.edit-goal-button:hover {
  color: rgb(33, 97, 97);
}
