.second-navbar {
  display: inline-flex;
  width: 100%;
  height: 40px;
  background-color: rgb(82, 186, 151);
  border: 1px ridge;
}

.myhome-navbar-element {
  width: 170px;
  height: 39px;
  background-color: rgb(82, 186, 151);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
  border: 2px ridge;
  font-size: larger;
}

.food-navbar-element {
  width: 170px;
  height: 39px;
  background-color: rgb(82, 186, 151);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: none;
  border: 2px ridge;
  font-size: larger;
}

.exercise-navbar-element {
  width: 170px;
  height: 39px;
  background-color: rgb(82, 186, 151);
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px ridge;
  font-size: larger;
}
