.goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 10px;
}

.goals .goals-list {
  margin-top: 20px;
  background-color: antiquewhite;
  border-radius: 10px;
  width: 220px;
  height: 40px;
  font-size: 25px;
  border: 2px solid;
  transform: translate(20%);
  margin-bottom: 5px;
}

.goals-list:hover {
  border-color: gray;
}

.goals-list:active {
  border-color: aquamarine;
  color: aquamarine;
}

.next {
  margin-top: 30px;
  background-color: aquamarine;
  border-radius: 10px;
  width: 100px;
  height: 50px;
  font-size: 30px;
  border: 2px solid;
}

.personal-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 10px;
}
