.bar {
  display: inline-flex;
  width: 100%;
  height: 50px;
  align-items: center;
}

.bar input {
  margin-top: 30px;
  width: 50%;
  transform: translate(50%);
  height: 100%;
  font-size: larger;
  padding: 20px 45px 20px 20px;
}

.bar i {
  position: absolute;
  font-size: 36px;
  right: 25%;
  margin-top: 35px;
}

.bar i:hover {
  color: aquamarine;
}

.bar i:active {
  color: rgb(147, 241, 210);
}

.search-container {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 50px;
}

.food-menu,
.exercise-menu {
  background: transparent;
  display: flex;
  flex-direction: column;
  max-width: 480px;
  align-items: center;
  border: 2px solid;
  backdrop-filter: blur(5px);
  border-radius: 20px;
}

.meal-details,
.exercise-details {
  display: flex;
  flex-direction: row;
}

.servings {
  display: flex;
  flex-direction: column;
  transform: translate(10%);
  margin-top: 10px;
}

.meal-select {
  display: flex;
  flex-direction: row;
  transform: translate(10%, 17%);
}

.delete {
  padding-right: 30px;
}
