body {
  background-color: rgb(131, 241, 199);
  overflow-x: hidden;
}
#navbar {
  background-color: aquamarine;
  height: 40px;
  display: block;
}

.navbarList {
  display: inline;
  margin-left: 25px;
}

#navbar #navbarElm:hover {
  fill-opacity: 0.3;
  opacity: 0.3;
}

#navbar #navbarElm:active {
  fill-opacity: 0.7;
  opacity: 0.7;
}

.navbarElm {
  color: black;
  font-size: 35px;
  text-decoration: none;
}

#navbarBtn {
  float: right;
  align-self: center;
  padding-top: 7px;
  margin-right: 10px;
  text-align: center;
  line-height: 30px;
  vertical-align: center;
  background-color: rgb(59, 184, 142);
  border-radius: 10px;
}

#navbarBtn:hover {
  opacity: 0.3;
}

#navbarBtn:active {
  opacity: 0.7;
}

#navbarUser {
  float: right;
  align-self: center;
  padding-top: 10px;
  margin-right: 10px;
  text-align: center;
  line-height: 15px;
}

.welcome-text {
  position: absolute;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  width: 600px;
  left: 10%;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
}

.our-system {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  display: flex;
  max-width: 600px;
  justify-content: space-between;
  margin: 0 auto;
  transform: translateY(195%);
  left: 10%;
  padding: 10px 20px;
  border-radius: 20px;
}

.list {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  display: inline;
  max-width: 600px;
  justify-content: space-between;
  margin: 0 auto;
  transform: translateY(282%);
  left: 10%;
  padding: 10px 20px;
  border-radius: 20px;
}

.healthy-living {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  position: absolute;
  display: flex;
  width: 600px;
  transform: translate(-3.5%, 11%);
  margin: 0 auto;
  padding: 10px 10px;
  border-radius: 20px;
  margin-bottom: 20px;
}

.healthy-living .join-button {
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  width: 90%;
  height: 45px;
  transform: translate(5%);
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font: size 14px;
  color: #333;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 10px;
}
